<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{i18n 'real_estate.real_estate_detail' lang=lang}}</title>
  <style>
         font-face {
             font-family: 'Roboto';
             src: url('file://{{fontPath}}') format('truetype');
         }

         body {
             margin: 50px;
             font-family: 'Roboto', sans-serif;
         }

         h2 {
            padding: 20px 0;
         }

        .grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
        }

        .font-bold {
          font-weight: bold;
        }

        .text-gray-700 {
          color: #4a5568;
        }

        .text-green-600 {
          color: #16a34a;
        }

        .text-blue-600 {
          color: #2563eb;
        }

        .font-bold {
          font-weight: bold;
        }

        .italic {
          font-style: italic;
        }

        .page-break {
          page-break-before: always;
        }
    </style>
</head>
<body>
  <h2>{{i18n 'real_estate.real_estate_detail' lang=lang}}</h2>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.type' lang=lang}}</strong> : <span class="font-bold">{{formatRealEstateType type lang=lang}}</span>
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.address' lang=lang}}</strong> : {{formatAddress address}}
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.price' lang=lang}}</strong> : <span class="font-bold">{{price}} MAD</span>
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.surface' lang=lang}}</strong> : <span class="font-bold">{{surface}} m²</span>
    </div>
    <div class="col-span-2">
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.owner_or_owners' lang=lang}}</strong> : {{formatOwners ownersDetails}}
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.room_count' lang=lang}}</strong> : {{roomCount}}
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.shower_count' lang=lang}}</strong> : {{showerCount}}
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.facade_count' lang=lang}}</strong> : {{facadeCount}}
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.terrace_count' lang=lang}}</strong> : {{terraceCount}}
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.terraced' lang=lang}}</strong> : {{formatBoolean terraced lang=lang}}
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.has_garden' lang=lang}}</strong> : {{formatBoolean hasGarden lang=lang}} ({{gardenSurface}} m²)
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.is_secured' lang=lang}}</strong> : {{formatBoolean isSecured lang=lang}} ({{securityDetail}})
    </div>
    <div>
      <strong class="font-bold text-gray-700">{{i18n 'real_estate.remarks' lang=lang}}</strong> : {{remark}}
    </div>
  </div>
  {{#if pictures.length}}
    <div class="page-break"></div>
    <h2>{{i18n 'common.photos' lang=lang}}</h2>
    <div class="grid grid-cols-2 gap-4">
      {{#each pictures}}
        <img src="{{this}}" alt="Logo" style="width: 100%;">
      {{/each}}
    </div>
  {{/if}}
</body>
</html>
